:root {
    --principal-color1: #0077b6;
    --principal-color2: #524f63;
    --secondary-color2: #a29fb6;
    --text: #333333;
    --background-light: #e1c7ae;
    --background-section1: #f5f5f5;
    --background-section2: #fafafa;

    	/* Tamaños de letras */
	--nav-font-size: 18px;
	--main-header-title-size: 5rem; /* Header de la pagina */
	--header-description-size: 1.8rem; /* Descripcion del header de la pagina */
	--section-title-size: 3.5rem; /* Titulo de los sections */
	--section-description-size: 1.5rem; /* Descripcion de los sections */
  --article-header-title-size: 1.5rem;
  --article-description-size:1rem;
	--footer-header-title-size: 1.5rem;
	--footer-description-text : 1rem;


}

.hamburguesa {
  display: none;
}

.hambur h2 {
  display: none;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    /* background: var(--background-light); */
    color: var(--text);
    line-height: 1.6;
    background-image: url('./../imagenes/background.jpg');
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
}

header > figure {
    height: 20rem;
    overflow: hidden;
}

header > figure > img {
    width: 100%;
    display: block;
}

nav {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid #dddddd;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.btnLocalizar {
  width: 25%;
  padding: 5px;
  border-radius: 5px;
  background-color: #df954d;
  color: white;
  font-weight: bold;
}

.conteinerBtnLocalizar {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Hacer que los elementos de la lista se distribuyan como una fila */
  align-items: center; /* Alinear verticalmente los elementos */
}

nav ul li {
  margin-right: 20px;
}

nav ul li.logo-item {
  display: flex; /* Usar flexbox para alinear los elementos internos */
  align-items: center; /* Alinear verticalmente */
}

nav ul li.logo-item img {
  height: 5rem; /* Altura máxima de la imagen */
  vertical-align: middle; /* Alinear verticalmente la imagen con el texto */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

nav ul li.logo-item span {
  font-size: 1.2rem; /* Tamaño de fuente del texto */
  color: white; /* Color del texto */
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 12px 18px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  color: #007bff;
}

/* nav img {
  height: 5em;
  margin-right: 10px;
} */


h3{
  font-family: "Abril Fatface", serif;
	font-size: var(--article-header-title-size);
  color: var(--principal-color1);
  text-decoration: none;
}

/* article a{
  display: inline-block;
  padding: 1em;
  border-radius: 10px;
  background-color:  var(--principal-color1);
  box-shadow: -20px 13px 40px -11px rgba(0, 0, 0, 0.75);
  color: #fff;
} */

.bNew {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  margin-left: 80%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color:  var(--principal-color1);
  box-shadow: -20px 13px 40px -11px rgba(0, 0, 0, 0.75);
  color: #fff;
}


h1 {
    font-family: "Abril Fatface", serif;
    font-size: var(--main-header-title-size); /* Asegúrate de definir esta variable según tu necesidad */
    color: #0077b6; /* Cambia el color a uno más vibrante */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.titulo {
    text-align: center;
}

p, ol {
	font-family: 'Century Gothic', sans-serif;
	font-size: var(--section-description-size);
  color: var(--text);
}

h2{
  font-family: "Abril Fatface", serif;
	font-size: var(--section-title-size);
	text-align: left;
	padding-left: 4rem;
	color: #E5992B;
	text-shadow: 1px 1px 2px var(--text-shadow);
}

.parrafo {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
}

.newBeachResort, .newCity {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
  margin-bottom: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.3);
}

.newBeachResort .bReserva {
  margin-top: 30px;
}

.newBeachResort label {
  font-weight: bold;
}

.newCity .bReserva {
  margin-top: 30px;
}

.newCity label {
  font-weight: bold;
}


.newBeachResort textarea {
  max-width: 99%;
  min-width: 99%;
}

figure {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

footer {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

footer > a {
    text-decoration: none;
    font-size: 1.2rem;
}

footer > a > i {
  font-size: 1.5rem;
}

footer > a {
    display: flex;
    flex-direction: column;
    color: white;
}

footer .whatsapp > i {
  color: green;
}

footer .phone > i {
    color: green;
}


footer .facebook > i {
  color: blue;
}

footer .instagram > i {
  color: #c92bb7;
}

.botonLogin {
  border: 1px solid #007bff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: auto;
}

.botonLogin:hover {
  border-color: #0056b3;
  color: #000000;
}

.reserva {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  margin-top: 20px;
}

.reserva > label,select,input {
  font-size: 1rem;
  border-radius: 0.3rem;
  padding: 5px;

}

.reserva > select, input{
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
}

.bReserva {
  padding: 1em;
  border-radius: 10px;
  background-color:  var(--principal-color1);
  box-shadow: -20px 13px 40px -11px rgba(0, 0, 0, 0.75);
  color: #fff;
}

.login section{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); /* Color blanco con 70% de opacidad */
  padding: 4em;
}

  .login h2{
    text-align: center;
  }

/* Carrusel */
.carousel {
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; /* Ajusta según sea necesario */
}

/* Contenedor de imágenes */
.carousel-images {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Asegura que las imágenes se recorten bien */
}

/* Imágenes del carrusel */
.carousel-image {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  z-index: 0;
}

/* Contenedor de progreso */
.carousel-progress {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 5px;
  background: rgba(0,0,0,0.2);
  border-radius: 3px;
  overflow: hidden;
  z-index: 1; /* Asegura que el contenedor de progreso esté debajo de las miniaturas */
}

/* Barra de progreso */
.progress-bar {
  height: 100%;
  background: #ff4500;
  width: 0;
  transition: width 0.5s ease;
}

/* Contenedor de miniaturas */
.carousel-thumbnails {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2; /* Asegura que las miniaturas estén encima de las imágenes */
}

/* Miniaturas individuales */
.thumbnail {
  width: 50px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

/* Miniatura activa */
.active-thumbnail {
  border-color: #ff4500;
  transform: scale(1.1);
}

  @keyframes progress-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  #parasol-12{
    fill:red
  }

/* Contenedor del input y la lista */
.ciudad-container {
  position: relative;
}

/* Estilos para el campo de búsqueda de ciudades */
.selectCiudades {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilos para la lista de opciones de ciudades */
.cities-list {
  position: absolute;
  top: 100%; /* Coloca la lista justo debajo del input */
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 5px; /* Espacio entre el input y la lista */
  display: none; /* Inicialmente oculta la lista */
}

/* Estilos para cada opción en la lista */
.ciudad-option {
  padding: 10px;
  cursor: pointer;
}

/* Estilos para el hover de las opciones */
.ciudad-option:hover {
  background-color: #f0f0f0;
}


/* Estilos de las tablas */
.tents-table {
  border: 2px solid black;
  font-family: serif;
  margin: auto;
  width: 80%;
  margin-bottom: 3em;
}

.tents-table thead {
  background-color: #efcf8d;
  color: #0077b6;
  font-weight: bold;
}

.tents-table tbody .row-odd {
  background-color: #b2dae6;
}

.tents-table tbody .row-even {
  background-color: #e5f6f6;
}

.tents-table th,
.tents-table td {
  border: 1px solid black;
  padding: 4px 8px;
}

.center {
  text-align: center;
}

article {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1em;
  padding: 2em;
  width: 15em;
  height: 20em; 
  text-align: center;
  transition: transform 0.2s;
  overflow: hidden; 
 } 

article:hover {
  transform: scale(1.05);
}


article img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

object{
  height: 500px;
}

section a {
  text-decoration: none;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .parrafo {
        margin-left: 0;
        margin-right: 0;
    }
}

/* Oculta por defecto la imagen SVG en las reservas */
#svgImage {
  display: none;
}

/* Elemento "cargando" */
.loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid var(--secondary-color2);
  border-top: 3px solid var(--principal-color2);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*MEDIA MAX-WIDTH 832px-----------------*/
@media screen and (max-width: 832px) {
  
  /* Estilos para el menú hamburguesa */
  
  .hambur {
    position: relative;
    height: 2.1rem;
  }
  
  .hambur > h2 {
    position: relative;
    display: inline;
    font-size: 1.6rem;
    left: 1rem;
  }
  
  .hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;  
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .hamburguesa span {
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }

  /*navegación principal del sitio*/
  .menu {
    display: none;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    height: auto;
  }
  
  .menu.show {
    display: block;
    transition: all 0.3s ease-in-out;
    margin-top:.5rem;
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    left: auto;
  }
  
  /* .menu li:not(:last-child) {
    border-bottom: 0.2rem white solid;
  } */
  
  .menu li, .menu a {
    /* background-color: rgb(238, 241, 239); */
    position: relative;
    padding: 0.5rem;
    margin: 0;
    border: none;
  }
  
  /* .menu li {
    background-color: rgb(2,82,85);
  } */
  
  .menu li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  .menu li a:hover {
    background-color: red;
  }
  
  .menu li a p:hover {
    color: white;
  }
  
  .menu li a:hover {
    color: white;
  }
  
  .menu li a i{
    margin-right: 10px;
  }
  
  #desplegable1, #desplegable2 {
    color: white;
    margin: 0 1rem;
  }
  
  .menu .dropdown-menu{
      display: none;
      left: 0;
      width: 100%;
      background-color: rgb(2,82,85);
      z-index: 999;
      overflow: hidden;
      height: auto;
      transition: all 0.3s ease-in-out;
    }
    
    .menu .dropdown-menu li {
      margin: 10px 0;
      text-align: center;
      height: 2rem;
    }
    
    .menu .dropdown-menu li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .menu .dropdown-menu li p {
      text-decoration: none;
      color: rgb(2,82,85);
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
  .menu .sub-menu {
      top: 0;
      margin-top: -1px;
      margin-left: 0;
    }
    
    .menu .dropdown-menu.mostrar {
      display: block;
      margin-top: 0rem;
      max-height: 500px;
      transition: all 0.3s ease-in-out;
      padding: 0;
      margin: 0;
      list-style: none;
      flex-direction: column;
    }
    
    .icono {
      width: 50vw;
    }

    article {
      display: block;
      margin: auto;
      text-align: center;
    }

    h2 {
      text-align: center;
      padding: 0;
    }
    
} /*END MEDIA MAX-WIDTH 832px*/
