{% extends "base.view.twig" %}

{% block main %}
        <section class="about-us">
            <h2>Quiénes somos</h2>
            <p>En TENTS, nos dedicamos a proporcionar las mejores soluciones para tus necesidades de camping y actividades al aire libre. Con años de experiencia en el mercado, ofrecemos productos de alta calidad y un servicio al cliente excepcional.</p>

            <h2>Nuestra misión</h2>
            <p>Nuestra misión es hacer que tu experiencia al aire libre sea inolvidable, ofreciendo productos innovadores y de confianza.</p>

            <h2>Nuestro equipo</h2>
            <p>Contamos con un equipo apasionado y comprometido que trabaja arduamente para ofrecerte lo mejor. Conoce a nuestro equipo de expertos en camping.</p>
        </section>
{% endblock %}