{% extends "base.view.twig" %}

{% block main %}
    <main>
        <section class="reserva">
                <label for="ciudad">Ciudad:</label>
                <div class="ciudad-container">
                    <input type="text" id="ciudad" name="ciudad" autocomplete="off" class="selectCiudades" placeholder="Ingrese una ciudad">
                    <ul id="cities-list" class="cities-list"></ul>
                    <input type="hidden" id="cityId" name="cityId" value="">
                </div>
                <a href="#" class="bReserva">Buscar</a>
        </section>

        <h1 class="titulo">Bienvenidos al Paraíso Playero</h1>      

        <section class="center">
            <section class="carousel"></section>
        </section>
        <section>
            {# <p>
                Sumérgete en una experiencia de playa inolvidable con nuestro exclusivo complejo de alquiler de sombrillas y carpas en la costa. Disfruta del sol y el mar con comodidad absoluta en nuestras modernas carpas equipadas, mientras nuestro personal atento se encarga de todos los detalles. Además, relájate en nuestra refrescante pileta con vista al océano o disfruta de una amplia variedad de bebidas y platos frescos en nuestra cantina playera. Te invitamos a vivir la combinación perfecta de relajación, diversión y servicios de primera en tu día de playa con nosotros.
            </p> #}
        </section>
        
        <section class= "card-container">
            <h2>Ciudades</h2>
            {% for city in cities   %}
             <a href="/beachResortIndex">
                <article class="card">    
                    <h3>{{ city.fields.name }}</h3>
                    <figure>
                        <img src="{{ city.fields.img }}" alt="{{ city.fields.name }}" >
                    </figure>
                    <p>Balnearios: 4</p>
                </article> 
                 </a>
            {% endfor %}                  
        </section>

    </main>
{% endblock %}

{% block javascript %}
    <script>
        const ciudades = {{ cities | json_encode | raw }};
    </script>
{% endblock %}

