{% extends "base.view.twig" %}

{% block main %}
<h1>{{ titulo }}</h1>
<section id="beachResortData" class="ticket">
  <label>Balneario: {{ data.beachResortName }}</label>
  <label>Fecha desde: {{ data.startDate }}</label>
</section>

{% endblock main %}

Balneario:         Varese

Fecha desde:       23/07/2024

Fecha hasta:       25/07/2024

Cantidad:          2

Precio:            $ 40.000,00