{% extends "base.view.twig" %}

{% block title %}Solicitar Turno{% endblock title %}

{% block main %}
<h2>Solicitud de Reserva</h2>
<form method="post">
    <fieldset>
        <legend>Datos Personales</legend>
        <label for="inputNombre">
            Nombre
            <input type="text" required name="nombre" id="inputNombre"/>
        </label>

        <label for="inputApellido">
            Apellido
            <input type="text" required name="apellido" id="inputApellido"/>
        </label>

        <label for="inputDni">
            DNI
            <input type="number" required name="dni" maxlength="8" minlength="7" id="inputDni"/>
        </label>

        <p>¿A dónde te avisamos?</p>
        <label for="inputEmail">
            Email
            <input type="email" required name="email" id="inputEmail" autocomplete="on"/>
        </label>
        <label for="inputTelefono">
            Telefono
            <input type="tel" required name="telefono" id="inputTelefono"/>
        </label>
    </fieldset>

    <label for="inputSubmit">
        <input type="submit" name="inputSubmit" value="Continuar" id="inputSubmit"/>
    </label>

    {% if mensaje %}
        <div class="alerta">
            <div class="mensaje">{{ mensaje }}</div>
        </div>
    {% endif %}

    <label for="inputReset">
        <input type="reset" name="inputReset" id="inputReset">
    </label>

</form>

{% endblock main %}