{% extends "base.view.twig" %}

{% block main %}
        <section class="terms-of-service">
            <h2>Introducción</h2>
            <p>Bienvenido a TENTS. Al utilizar nuestro sitio web y servicios, aceptas cumplir con los siguientes términos y condiciones.</p>

            <h2>Uso del Sitio Web</h2>
            <p>Debes usar nuestro sitio web de manera legal y de acuerdo con estos términos. No está permitido realizar actividades que puedan dañar nuestro sitio web o nuestros servicios.</p>

            <h2>Compras y Pagos</h2>
            <p>Las compras realizadas a través de nuestro sitio web están sujetas a los términos de venta y las políticas de pago descritas en nuestra plataforma.</p>

            <h2>Modificaciones</h2>
            <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones entrarán en vigor desde su publicación en nuestro sitio web.</p>

            <h2>Contacto</h2>
            <p>Si tienes preguntas sobre estos términos, por favor, contáctanos.</p>
        </section>
{% endblock %}