{% extends "base.view.twig" %}

{% block title %}Perfil usuario{% endblock title %}

{% block main %}
<nav>
    <ul>
        <li>
            <a href="/portal-admin/balnearios">Balnearios</a>
        </li>
        <li>
            <a href="/portal-admin/historial-turnos">Unidades de Balnearios</a>
        </li>
        <li>
            <a href="/portal-admin/estudios-realizados">Promociones</a>
        </li>
        <li>
            <a href="/?sesion=cerrar">Cerrar sesión</a>
        </li>
    </ul>
</nav>

{% endblock main %}