{% extends "base.view.twig" %}

{% block main %}
    <h1>Nueva Ciudad</h1>
    <form class="newCity" action="/submitCity" method = "POST" enctype="multipart/form-data">  
        
        <p class="required-message">Todos los campos son obligatorios.</p>

        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>
  
        <label for="imagen_perfil">Imagen de la ciudad</label>
        <div class="drop-zone" id="dropZoneProfile">
            <span>Arrastra y suelta aquí la imagen de la ciudad</span>
            <input type="file" id="imagen_perfil" name="imagen_perfil" accept="image/*" required style="display:none;">
            <img id="previewProfile" style="display:none; width:100px; height:auto;" alt="Vista previa de la ciudad">
            <div id="filenameProfile" style="display:none;"></div>
        </div>

        <label for="province">Provincia:</label>
        <select id="province" name="province" required>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
        </select>

        <input type="hidden" id="longitud" name="longitud" value="0">
        <input type="hidden" id="latitud" name="latitud" value="0">

        <section class="conteinerBtnLocalizar">
            <button type='button' id="btnLocalizar" class="btnLocalizar">Localizar</button>
        </section>
        
        <section style="width:100%; height:50vh;" class="map" id="map"></section>

        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

        <section class="secctionBtn">
            <button class="bReserva" type="submit">Envíar</button>
        </section>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        const longitud = document.getElementById("longitud");
        const latitud = document.getElementById("latitud");
        var map = L.map('map');
        map.setView([-34.6037, -58.3816], 5);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
        var markers = [];
        // Función para limpiar todos los marcadores del mapa
        function clearMarkers() {
            markers.forEach(marker => map.removeLayer(marker));
            markers = [];
        }
        const apiNominatim = async (ciudad, provincia, pais) => {
            const response = await fetch('https://nominatim.openstreetmap.org/search?city='+ciudad+'&state='+provincia+'&country='+pais+'&format=json');
            const responseJSON = await response.json(); //extract JSON from the http response
            if (responseJSON.length !== 0) {
                longitud.value = responseJSON[0].lon;
                latitud.value = responseJSON[0].lat;
                clearMarkers();
                map.setView([latitud.value, longitud.value], 13);
                var marker = L.marker([latitud.value, longitud.value], {draggable:true}).addTo(map);
                marker.on('dragend', function(event){
                    var newLocation = this.getLatLng();
                    latitud.value = newLocation.lat;
                    longitud.value = newLocation.lng;
                });
                markers.push(marker);
                return true;
            } else {
                return false;
            }
        };

        const btnLocalizar = document.getElementById('btnLocalizar');

        btnLocalizar.addEventListener('click', async function() {
            let city = document.getElementById('name').value;
            let province = document.getElementById('province').value;
            let geoLocalizacion = await apiNominatim(city, province, 'Argentina');
            if (!geoLocalizacion) {
                alert('No se encontró la ubicación. Por favor, verifique la dirección.');
            }
        });
        
    </script>
{% endblock %}