
{% block head %}{{include('parts/head.view.twig')}}{% endblock %}
<body>
		{% block nav %} {{include('parts/nav.view.twig')}} {% endblock %}

		{% block main %}{% endblock %}

		{% block footer %}{{include('parts/footer.view.twig')}}{% endblock %}
</body>
</html>