{% block head %}{{include('parts/head.view.twig')}}{% endblock %}
<body>

		{% block styles %}{% endblock %}

		{% block main %}{% endblock %}

		{% block footer %}{{include('parts/footer.view.twig')}}{% endblock %}
	
		{% block javascript %}{% endblock %}

</body>
</html>