{% extends "base.view.twig" %}
    

{% block main %}
        <h1>{{ beachResort.fields.name }}</h1>
        <section>
            <img src="./../imagenes/complejo.svg" alt="carpa">
        </section>
{% endblock %}