{% extends "base.view.twig" %}
{% block main %}
        <h1>{{ beachResort.fields.name }}</h1>
        <section>
                <p>{{ beachResort.fields.description }}</p>
                <p>Ciudad: {{ city.fields.name }}</p>
				<ol>Servicios:
					{% for service in service_colection %}
						<li>{{ service.name }}</li>
					{% endfor %}
            	</ol>    
        </section>
        <section>
            	<form >
					<fieldset>
						<p>
							<label>
								Llegada:
							</label>
							<input type="date" />
						</p>
                        <p>
							<label>
								Salida:
							</label>
							<input type="date" />
						</p>
						<p>
							<button type="submit" value="Buscar" > Buscar </button>
						</p>	
					</fieldset>
				</form>
            <img src="./../imagenes/complejo.svg" alt="carpa">
        </section>
{% endblock %}