{% extends "base.view.twig" %}
    

{% block main %}
        <h1>{{ titulo }}</h1>
        <form action="/contact" method = "POST">
            <label for="subjet"><strong>Asunto(*)</strong></label>
            <input type="text" name = "subject">
            <label for="email"><strong>Correo</strong></label>
            <input type="text"name = "mail">
            <label for="description"><strong>Descripcion</strong></label>
            <textarea name="description"cols="30" rows="10"></textarea>
            <input type="submit" name="submit" value="Enviar">
        </form>        
{% endblock %}
