{% extends "base.view.twig" %}

{% block main %}
    <main>
        <section class="reserva">
                <label for="ciudad">Ciudad:</label>
                <select class="selectCiudades" name="ciudad" id="ciudad"></select>
                <label for="balneario">Balneario:</label>
                <select class="balnearios" name="balneario" id="balneario"></select>
                <label for="fecha_entrada">Fecha de Entrada:</label>
                <input type="date" id="fecha_entrada" name="fecha_entrada">
                <label for="fecha_salida">Fecha de Salida:</label>
                <input type="date" id="fecha_salida" name="fecha_salida">
                <a href="#" class="bReserva">Reservar</a>
        </section>

        <h1 class="titulo">Bienvenidos al Paraíso Playero</h1>       
        <section class="center">
            <section class="carousel"></section>
            <p>
                Sumérgete en una experiencia de playa inolvidable con nuestro exclusivo complejo de alquiler de sombrillas y carpas en la costa. Disfruta del sol y el mar con comodidad absoluta en nuestras modernas carpas equipadas, mientras nuestro personal atento se encarga de todos los detalles. Además, relájate en nuestra refrescante pileta con vista al océano o disfruta de una amplia variedad de bebidas y platos frescos en nuestra cantina playera. Te invitamos a vivir la combinación perfecta de relajación, diversión y servicios de primera en tu día de playa con nosotros.
            </p>
        </section>
        
        <section class= "card-container">
            <h2>Ciudades</h2>
            {% for city in cities   %}
                <article class="card">    
                    <h3>{{ city.fields.name }}</h3>
                    <figure>
                        <img src="./../imagenes/cities/{{ city.fields.id }}/city.jpg" alt="city" >
                    </figure>
                    <p>Balnearios: 4</p>
                </article> 
            {% endfor %}                  
        </section>

    </main>
{% endblock %}
