{% extends "base.view.twig" %}

{% block main %}


    <section class="login">
        <h2>Iniciar sesión</h2>
        {% if hayLogin %}
            <p class="mensaje">Bienvenido, usted se encuentra logueado con el DNI: {{ dni }}.</p>
            <p><a class="cerrarsesion" href="/?sesion=cerrar">Cerrar Sesion</a></p>
        {% else %}
        <form class="fLogin" action="portal-admin" method="post">
            <label for="inputDNI">DNI:
                <input type="text" name="usuario">
            </label>
            <label for="inputPassword">Contraseña:
                <input type="password" name="password">
            </label>
            <input name="login" type="submit" value="Ingresar">
        </form>
        {% endif %}

    </section>

    {% endblock %}
{% endblock %}
