
    <footer id="footer">
        <a class="email" href="#"><i class="fa-solid fa-envelope"></i> info@tuempresa.com</a>
        <a class="whatsapp" href="https://wa.me/2346505022" target="_blank" class="whatsApp"><i class="fa-brands fa-whatsapp"></i> 2346505022</a>
        <a class="facebook" href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a class="phone" href="#"><i class="fa-solid fa-phone"></i> +123456789</a>
        <a class="instagram" href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    </footer>

