<footer>
    <div class="footer-content">
        <h3>Contacto y enlaces</h3>
        <ul>
            <li><a href="/about">Sobre nosotros</a></li>
            <li><a href="/privacyPolicies">Política de privacidad</a></li>
            <li><a href="/termsOfServices">Términos de servicio</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <div class="social-media">
            <a class="facebook" href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
            <a class="phone" href="tel:+5492346123456"><i class="fa-solid fa-phone"></i> 2346-123456</a>
            <a class="instagram" href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 TENTS. Todos los derechos reservados.</p>
    </div>
</footer>
