<nav>
    <ul>
        <li class="logo-item">
            <img src="./../imagenes/logo.png" alt="logo">
            <span>TENTS</span>
        </li>
        {% for item in menu %}
            {% if item.name == 'Acceso' %}
                <li class="botonLogin"><a href="{{ item.href }}">{{ item.name }}</a></li>
            {% else %}
                <li><a href="{{ item.href }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
